@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=PT+Serif:wght@700&display=swap');


.container{
    margin-top: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.line{
    margin-bottom: 30px;
    color: #eaecee;
    background-color: #eaecee;
}
.header div{
    font-family: 'PT Serif', serif;
    text-shadow: 2px 2px 3px lightblue;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.loading{
    font-size: 22px;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    text-shadow: 2px 2px 3px lightblue;
}
@media screen and (max-width: 480px) {
    .container{
        margin-top: 0;
    }
}
